<!DOCTYPE HTML>
<!--
	Ethereal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Ethereal by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Como reduzir o consumo de agua e energia<br />
									</h1>
									<ul class="actions">
										<li><a href="#first" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="../images/pexels-aba-533923 (1).jpg" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">1 Tome banhos rápidos</h2>
									<p>Sabemos que tomar banho é uma atividade relaxante. Mas lembre-se de que um banho de 15 minutos chega a gastar 135 litros de água. Por outro lado, um de 5 minutos chega a gastar 45 litros.</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
						<section class="panel spotlight medium right" id="first">
							<div class="content span-7">
								<h2 class="major">2 Feche a torneira quando não estiver usando</h2>
								<p>Essa atitude simples te ajuda a economizar 12 litros de água ao escovar os dentes e fazer a barba.</p>
							</div>
							<div class="image filtered tinted" data-position="top left">
								<img src="../images/gallery/thumbs/02.jpg" alt="" />
							</div>
						</section>
						
						<!-- Panel (Spotlight) -->
						<section class="panel spotlight medium right" id="first">
							<div class="content span-7">
								<h2 class="major">3 Reutilize água</h2>
								<p>Se você lavar a calçada ou quintal com mangueira, poderá gastar em 15 minutos mais de 279 litros de água. Para fazer a limpeza, reutilize a água da máquina de lavar, do seu banho, além de contar com a ajuda da boa e velha vassoura.</p>
							</div>
							<div class="image filtered tinted" data-position="top left">
								<img src="../images/gallery/fulls/07.jpg" alt="" />
							</div>
						</section>
						
						<!-- Panel (Spotlight) -->
						<section class="panel spotlight medium right" id="first">
							<div class="content span-7">
								<h2 class="major">4 Evite vazamentos</h2>
								<p>Um buraco bem pequeno no encanamento pode gerar um desperdício de até 3.000 litros de água por dia, o que equivale a quase um mês da necessidade de consumo de uma pessoa.</p>
							</div>
							<div class="image filtered tinted" data-position="top left">
								<img src="../images/gallery/fulls/05.jpg" alt="" />
							</div>
						</section>

						<!-- Panel (Spotlight) -->
						<section class="panel spotlight medium right" id="first">
							<div class="content span-7">
								<h2 class="major">5 Tire os aparelhos da tomada</h2>
								<p>É importante evitar equipamentos ligados quando não forem necessários. Se for ficar longos períodos sem utilizá-los, tire-os da tomada ao invés de desligar apenas o comando do aparelho.</p>
							</div>
							<div class="image filtered tinted" data-position="top left">
								<img src="../images/gallery/fulls/01.jpg" alt="" />
							</div>
						</section>
						
						<!-- Panel (Spotlight) -->
						<section class="panel spotlight medium right" id="first">
							<div class="content span-7">
								<h2 class="major">6 Iluminação</h2>
								<p>Pinte as paredes com cores claras, isso faz o ambiente parecer mais iluminado; Troque as lâmpadas incandescentes por fluorescentes ou de LED, que são mais econômicas, além de iluminar e durar mais.</p>
							</div>
							<div class="image filtered tinted" data-position="top left">
								<img src="../images/gallery/fulls/06.jpg" alt="" />
							</div>
						</section>
						
						

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>